body {
    font-family: Arial, sans-serif;
  }

  .container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-top: 20px;
    margin-top: 300px;
  }

  h2 {
    text-align: center;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .form-group button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }

  .form-group button:hover {
    background-color: #45a049;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  .group_email {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .group_senha {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

